* {
  all: unset;
}

.main-container {
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0px;
  padding: 30px;
}

.clock-label {
  font-family: "Nunito", sans-serif;
  font-feature-settings: "tnum";
  font-size: 2.4rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 10px;
}

.cal-widget {
  font-family: "Nunito", sans-serif;
  color: #ffffff;

  header {
    color: #888888;
    font-weight: 800;
  }

  button {
    color: #ffffff;
    padding: 8px;
    font-weight: 400;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  &:selected {
    background-color: #ffffff;
    color: #000000;
  }
}

calendar:selected {
  background-color: white;
  color: black;
}