# =======================================================================================
# Input
# =======================================================================================
input {
  kb_layout = us, ua
  kb_options = grp:caps_toggle,fkeys:basic_13-24
  numlock_by_default = true
  follow_mouse = true
}
# =======================================================================================
# Visuals
# =======================================================================================
general {
  gaps_in = 0
  gaps_out = 0
  border_size = 0
  layout = dwindle
  resize_on_border = false
  snap {
    enabled = true
    window_gap = 25
    monitor_gap = 25
  }
}
decoration {
  shadow {
    sharp = true
    range = 1
    color = rgba(ffffff33)
  }
  blur {
    size = 2
    passes = 3
    new_optimizations = true
    noise = 0
  }
}
misc {
  disable_hyprland_logo = true
  disable_splash_rendering = true
  background_color = 0
  render_unfocused_fps = 30
}
binds {
  hide_special_on_workspace_change = true
  scroll_event_delay = 0
}
group:groupbar {
  indicator_height = 0
  text_color_inactive = 0x66ffffff
  font_size = 11
  gaps_in = 0
  gaps_out = 0
}
animations:enabled = false
xwayland:force_zero_scaling = true
ecosystem {
  no_update_news = true
  no_donation_nag = true
}
render {
  cm_auto_hdr = 0
  cm_sdr_eotf = 3
}
# =======================================================================================
# Autostart
# =======================================================================================
exec-once = dbus-update-activation-environment --systemd --all
exec-once = systemctl --user import-environment DISPLAY WAYLAND_DISPLAY XDG_CURRENT_DESKTOP
exec-once = hyprlock
exec-once = hyprpaper
exec-once = systemctl --user start hyprpolkitagent
exec-once = eww daemon && eww open desktop_info
exec-once = kdeconnectd
exec-once = wl-clip-persist --clipboard regular
exec-once = wl-paste --watch clipvault store
# =======================================================================================
# Keybinds
# =======================================================================================
$configPath = $HOME/.config/hypr

bind = SUPER, RETURN, exec, kitty
bind = SUPER, E, exec, dolphin
bind = SUPER, X, exec, code-insiders -nq

bind = SUPER, S, exec, rofi -show drun -show-icons
bind = SUPER, PERIOD, exec, rofimoji
bind = , XF86CALCULATOR, exec, rofi -show calc -modi calc -no-show-match -no-sort
bind = SUPER, V, exec, rofi -modi clipboard:$configPath/custom/_clipvault.sh -show clipboard -show-icons

bind = SUPER, ESCAPE, exit
bind = , XF86PowerOff, exit
bind = SUPER, L, exec, hyprlock

bindi = , PRINT, exec, flameshot gui
bind = SUPER SHIFT, S, exec, flameshot gui
bind = SUPER, P, exec, [float] sh -c 'exec qview "$(ls -td $HOME/Pictures/Screenshots/* | head -n 1)"'

bind = SUPER, W, killactive,
bind = SUPER, F, togglefloating,
bind = SUPER, A, fullscreen, 1
bind = SUPER, G, togglegroup
bind = SUPER, Tab, cyclenext,
bind = SUPER, Tab, bringactivetotop,

bind = SUPER, 1, workspace, 1
bind = SUPER, 2, workspace, 2
bind = SUPER, 3, workspace, 3
bind = SUPER, 4, workspace, 4
bind = SUPER, 5, workspace, 5
bind = SUPER, 6, workspace, 6
bind = SUPER, 7, workspace, 7
bind = SUPER, 8, workspace, 8
bind = SUPER, 9, workspace, 9
bind = SUPER, 0, workspace, 10

bind = SUPER SHIFT, 1, movetoworkspacesilent, 1
bind = SUPER SHIFT, 2, movetoworkspacesilent, 2
bind = SUPER SHIFT, 3, movetoworkspacesilent, 3
bind = SUPER SHIFT, 4, movetoworkspacesilent, 4
bind = SUPER SHIFT, 5, movetoworkspacesilent, 5
bind = SUPER SHIFT, 6, movetoworkspacesilent, 6
bind = SUPER SHIFT, 7, movetoworkspacesilent, 7
bind = SUPER SHIFT, 8, movetoworkspacesilent, 8
bind = SUPER SHIFT, 9, movetoworkspacesilent, 9
bind = SUPER SHIFT, 0, movetoworkspacesilent, 10

{{- if eq .chezmoi.hostname "pc" }}
bind = SUPER, GRAVE, exec, _multitool ws 8
bind = SUPER, Q, exec, _multitool ws 9
bind = SUPER, Z, exec, _multitool ws 10
{{- else }}
bind = SUPER, GRAVE, exec, sh $configPath/custom/_ws.sh 8
bind = SUPER, Q, exec, sh $configPath/custom/_ws.sh 9
bind = SUPER, Z, exec, sh $configPath/custom/_ws.sh 10
{{- end }}

bind = SUPER SHIFT, GRAVE, movetoworkspacesilent, 8
bind = SUPER SHIFT, Q, movetoworkspacesilent, 9
bind = SUPER SHIFT, Z, movetoworkspacesilent, 10

bind = SUPER CTRL, LEFT, movewindow, l
bind = SUPER CTRL, RIGHT, movewindow, r
bind = SUPER CTRL, UP, movewindow, u
bind = SUPER CTRL, DOWN, movewindow, d

bindl = SHIFT, ESCAPE, exec, playerctl play-pause

bindm = SUPER, mouse:272, movewindow
bindm = SUPER, mouse:273, resizewindow
# =======================================================================================
# Window Rules
# =======================================================================================
windowrule = match:float false, no_shadow on
#
windowrule = match:class ^xdg-desktop-portal-gtk$, float on
windowrule = match:class ^org\.freedesktop\.impl\.portal\.desktop\.kde$, float on
#
windowrule {
  name = flameshot
  match:title = ^(flameshot)$
  float = on
  size = 1920 1080
  move = 0 0
  pin = on
  stay_focused = on
}
windowrule {
  name = steam
  match:class = ^(steam)$
  tile = on
  suppress_event = maximize fullscreen
}
windowrule = match:class ^gamescope$, tag +game
windowrule = match:class ^mcpelauncher-client$, tag +game
windowrule = match:class ^steam_app_.*$, tag +game
windowrule = match:title ^Minecraft.*$, tag +game
windowrule {
  name = game
  match:tag = game
  opaque = on
  force_rgbx = on
  render_unfocused = on
}
# =======================================================================================
# Layer Rules
# =======================================================================================
layerrule = match:namespace ^(notifications|rofi|gtk-layer-shell)$, blur on
layerrule = match:namespace ^(notifications|rofi|gtk-layer-shell)$, ignore_alpha 0
# =======================================================================================
# Import Custom Rules
# =======================================================================================
{{- if regexMatch "^(pc|laptop)$" .chezmoi.hostname }}
source = $configPath/custom/hyprland-{{ .chezmoi.hostname }}.conf
{{- end }}