[Desktop Entry]
Version=1.0
Type=Application
Name=Log Out
Comment=Force exit the current session
Exec=hyprshutdown
Icon=r/log-out
Terminal=false
Categories=System;Utility;
