[Desktop Entry]
Version=1.0
Type=Application
Name=Power Off
Comment=Shut down the system
Exec=systemctl poweroff
Icon=r/shutdown
Terminal=false
Categories=System;Utility;
