[Desktop Entry]
Version=1.0
Type=Application
Name=Reboot
Comment=Restart the system
Exec=systemctl reboot
Icon=r/reboot
Terminal=false
Categories=System;Utility;
