[General]
autoCloseIdleDaemon=true
buttons=@Variant(\0\0\0\x7f\0\0\0\vQList<int>\0\0\0\0\r\0\0\0\0\0\0\0\x1\0\0\0\x2\0\0\0\x3\0\0\0\x4\0\0\0\x5\0\0\0\x6\0\0\0\x12\0\0\0\xf\0\0\0\x16\0\0\0\x13\0\0\0\b\0\0\0\x17)
contrastOpacity=204
contrastUiColor=#ffffff
disabledTrayIcon=true
drawColor=#ff0000
drawFontSize=32
drawMarkerSize=1
drawPixelateSize=2
drawThickness=25
filenamePattern=%yy%mm%dd_%Hh%Mm%Ss
insecurePixelate=true
jpegQuality=90
predefinedColorPaletteLarge=false
saveAfterCopy=true
saveAsFileExtension=png
savePath={{ .chezmoi.homeDir }}/Pictures/Screenshots
savePathFixed=true
showAbortNotification=false
showDesktopNotification=false
showHelp=false
showMagnifier=true
showSelectionGeometry=5
showSelectionGeometryHideTime=3000
showSidePanelButton=false
showStartupLaunchMessage=false
squareMagnifier=false
uiColor=#ffffff
uiLanguage=auto
userColors=picker, #000000, #ff0000, #00ff00, #0000ff, #ffffff

[Shortcuts]
TYPE_ACCEPT=Space
TYPE_ARROW=a
TYPE_CANCEL=
TYPE_CIRCLE=c
TYPE_CIRCLECOUNT=n
TYPE_COMMIT_CURRENT_TOOL=Return
TYPE_COPY=
TYPE_DRAWER=l
TYPE_EXIT=
TYPE_GRAB_COLOR=
TYPE_INVERT=i
TYPE_MARKER=m
TYPE_MOVESELECTION=g
TYPE_MOVE_DOWN=Down
TYPE_MOVE_LEFT=Left
TYPE_MOVE_RIGHT=Right
TYPE_MOVE_UP=Up
TYPE_OPEN_APP=
TYPE_PENCIL=p
TYPE_PIXELATE=b
TYPE_RECTANGLE=r
TYPE_RESIZE_DOWN=
TYPE_RESIZE_LEFT=
TYPE_RESIZE_RIGHT=
TYPE_RESIZE_UP=
TYPE_SAVE=Ctrl+c
TYPE_SELECTION=s
TYPE_SYM_RESIZE_DOWN=
TYPE_SYM_RESIZE_LEFT=
TYPE_SYM_RESIZE_RIGHT=
TYPE_SYM_RESIZE_UP=
TYPE_TEXT=t
TYPE_TOGGLE_PANEL=
