add_newline = false
{{- if eq .chezmoi.hostname "laptop" }}
format = """$all$battery$character"""
[battery]
[[battery.display]]
threshold = 100
style = "bold green"
[[battery.display]]
threshold = 30
style = "bold yellow"
[[battery.display]]
threshold = 15
style = "bold red"
{{- end }}